<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Navbar</h1>
    <p><a href="/">Home</a> </p>
    <p><a href="/fastapp/app/">Practice Problem</a></p>
    
    <h1>This is inside app Folder</h1>
    <p>add</p>
    <p>{{ num | add:"2" }}</p>
    <p>paragraph add slashes </p>
    <p>{{ paragraph | addslashes }}</p>
    <p>Name capfirst  </p>
    <p>{{ name | capfirst }}</p>
    <p>center:"15"</p>
    <p>{{  name | center:"15" }}</p>
    <p>It is used to remove all values of arg from the given string</p>
    <p>{{ title | cut:" " }}</p>
    <p>{{ Birthday | date:"D d M Y" }}</p>
    <p>{{ empty | default:"nothing" }}</p>
    <p>{{ list | dictsort:"age" }}</p>
    <p>{{ file | filesizeformat }}</p>
    <p>{{ yourList | first }}</p>
    <p>{{ yourList | last }}</p>
    <p>{{ yourList | join:" // " }}</p>
    <p>{{ yourList | length }}</p>
    <p>{{ line | linenumbers }}</p>
    <p>{{ name2 | lower }}</p>
    <p>{{ makelist | make_list }}</p>
    <p>{{ randomnum | random }}</p>
    <p>{{ randomnum | slice:":2" }}</p>
    <p>{{ title | slugify }}</p>
    <p>{{ blog | truncatechars:15 }}</p>


    

</body>
</html>
